*.o
*~
check_snmp_disk
check_snmp_load
check_snmp_proc
check_snmp_swap
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
nagios-snmp-plugins.cfg
stamp-h1
nagios-snmp-plugins-*.tar.gz
nagios-snmp-plugins-*.rpm
nagios-snmp-plugins.spec
